.conteudo{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.background{
    height: 100vh;
    position: absolute;
    left: 0;

}
.info{
    width: 50%;
    margin-right: 70px;
    margin-top: 20px;
    color: aliceblue;
}
input{
    width:80%;
    height: 14px;
    top: 81px;
    left: 249px;
    border-radius: 12px;
    border: 1px solid #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 8px;
    font-weight: 400;
    line-height: 16px ;
    letter-spacing: 0em;
    text-align: center;
    background-color: transparent;
}
button {
    height: 14px;
    top: 81px;
    left: 249px;
    border-radius: 10px;
    border: 1px solid #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 8px;
    letter-spacing: 0em;
    color: #ffffff;
    background-color: #2D333B;
    margin-left: 5px;
    padding: 1px 5px 1px 5px;
}
.perfil{
    display: flex;
    margin: 20px 0;
    font-family: 'Roboto', sans-serif;
    
}
.profile{
    width: 54px;
    height: 54px;
    top: 137px;
    left: 254px;
    border: 2px solid #999999;
    border-radius: 64px;
    
}
.perfil h3{
    width: 90px;
    height: 24px;
    top: 142px;
    left: 331px;
    font-family: Kailasa;
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 0 0 12px ;
    color: #999999;
    margin-right: 32px;

    
}

.perfil span{
    display: block;
    color: #999999;
    font-size: 6px;
    margin: 0 0 0 12px ;
}

.perfil p{
    color: #999999;
    font-size: 6px;
    margin: 12px 0 0 12px ;
}

hr{
    border: 1px solids;
}
.repositorio{
    font-size: 12px;
    color: #ffffff;
    margin: 12px 0;
    text-align: center;
    font-family: kailasa, 'roboto', sans-serif;
}